<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="slot-element">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h3>[[footerTitle]]</h2>
    <span> foot c</span>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class SlotFooter extends Polymer.Element {
      static get is() { return 'slot-element'; }
      static get properties() {
        return {
          footerTitle: {
            type: String,
            value: 'footer element'
          }
        }
        };

    }
    window.customElements.define(SlotFooter.is, SlotFooter);
  </script>
</dom-module>
