<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="slot-head">
  <template>
    <style>
      :host {
        display: block;
      }
      .defaultText {
        color:red
      }
    </style>
    <h2>[[prop1]]</h2>
    <slot><h1 class="defaultText">header default text if no image or text</h1></slot>
      <slot name="picture"></slot>
      <slot name="text"></slot>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class SlotHead extends Polymer.Element {
      static get is() { return 'slot-head'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'slot head element'
          }
        };
      }
      ready(){
        super.ready();
          console.log("head ready",this.shadowRoot)
        }
    }

    window.customElements.define(SlotHead.is, SlotHead);
  </script>
</dom-module>
