<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="slot-footer">
  <template>
    <style>
      :host {
        display: flex;
        background:rgba(20,20,20,0.2);
      }
    </style>
    <section id="footer">
      <h5>Hello [[prop1]]!</h5>
      <span> footer element span ©</span>
      <slot></slot>
    </section>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class SlotFooter extends Polymer.Element {
      static get is() { return 'slot-footer'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'slot footer element'
          }
        };
      }
    }

    window.customElements.define(SlotFooter.is, SlotFooter);
  </script>
</dom-module>
