<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="./element-carrousel.html">

<dom-module id="slot-body">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h3>body [[prop1]]!</h3>
    <element-carrousel slides="{{slides}}"></element-carrousel>
  </template>

  <script>
    /**
     * @SlotBody
     * @polymer
     */
    class SlotBody extends Polymer.Element {
      static get is() { return 'slot-body'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'slot body element'
          },
          slides:{
            type: Array,
            value: function() {
              return [{id:1,info:'Soy el ID 1'},{id:2,info:'Soy el ID 2'},{id:3,info:'Soy el ID 3'}]
            }
          }
        };
      }
    }

    window.customElements.define(SlotBody.is, SlotBody);
  </script>
</dom-module>
