<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="slot-head">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>[[prop1]]</h2>
    <slot> 
      
      <img name="picture" src="./src/assets/octogon.webp">
      header default text if no image or text
    
    </slot>
    
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class SlotHead extends Polymer.Element {
      static get is() { return 'slot-head'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'slot head element'
          }
        };
      }
    }

    window.customElements.define(SlotHead.is, SlotHead);
  </script>
</dom-module>
